@font-face {
    font-family: test;
    src: url(./img/JosefinSans-Thin.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: test;
    
}
/* overlay */
.overlay{
    position: absolute;
    z-index:-3;
    left:-3em;
    width:400vw;
    height:170vh;
    /* background-color:rgb(235, 235, 235,.6); */
    transform: rotate(11.37deg);
}
.nav{
    z-index: -1;
    position: relative;
    display: flex;
    height:9em;
    justify-content: space-between;
    /* background-color:rgb(235, 235, 235,.6); */
    font-weight: bold;
}

.pt-1{
    height:6em;
    overflow: hidden;

}
.pt-2{
    overflow: hidden;
    height:6em;
    border-left:.005em solid #222 ;
}

/* btns */
.btn{
    position: relative;
    background: transparent;
    border:none;
    cursor:pointer;
    font-size: 34px;
    top:2em;
    margin-left:2em;
}



ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

/* .pt-2 #tst{
    display:flex;
    align-items: center;
    justify-content: space-around;
} */

li{
    position: relative;
    list-style: none;
    padding:1.5em;
    margin:1em;
}
a{
    text-decoration: none;
    color:black;
}

.img{
    position: relative;
    scale:.6;
    right:2em;
    height: 8em;    
    top:-.5em;
    mix-blend-mode: multiply;
}

.img-1{
    /* object-fit: cover; */
    background-repeat:none ;
    height:8em;
    position:relative;
    width:10em;
    z-index: 1;
}

/* seperator */
.seperator{
    position: relative;
    background: #000;
    top:-3em;
    left:25%;
    height: 0.004em;    
    width:100%;
}

.pg-1{
    position:relative;
    width:100%;
    height:85vh;
}

.pg-1>img{
    position: relative;
    width:44%;
    height:44%;
    mix-blend-mode:multiply;
    left:50%;
    
}

.txt1box{
    overflow-y: hidden;
    position: relative;
    width:60%;
    height:12em;
    top:13%;
    font-size: 18px;
    left:10%;
}

.card{
    width:15em;
    height:20em;
    position: relative;
    z-index: 3;
    margin-right:5em;
    right:4em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.pg-2{
    /* background-color: yellow; */
    padding-top:8em;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* overflow: hidden;
    background-color: red; */
    width:100%;
    height:100vh;
}

.txtboxs{
    position:relative;
    width:100%;
    height:10em;
    padding-top:4em;
    padding-left:8em;
    font-size: 34px;
    left:0;
    /* width:100%;
    height:10em;
     */
}

#imp2{
    font-size: 44px;
    font-weight: bold;

}

h2{
    position: relative;

    left:4em;
}

/* transitions between pages containing navbar and the second*/


.txt-box-under-des{
    position: relative; 
    font-size:44px;
    position: relative;
    width:10em;
    height:3.8em;
    top:-10em;
    left:8%;
    z-index: 1;
}

.sep-prt2{
    position: relative;
    width:9.5%;
    height:.05em;
    top:-28.5em;
    left:8%;
    background-color: #222;
}

::-webkit-scrollbar{
    width:0;
}
/* .imp{
    cursor:pointer;
    font-size: 2.0em;
    /* color:rgba(0,0,255,0.6); */
    /* font-weight: bold; */
} */

.hexagon {
    top: 30vh;
    left: 40%;
    position: absolute;
    margin: 0 auto;
    background-color: dodgerblue;
    border-radius: 10px;
    width: 100px; 
    height: 63px;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;
}
  
/* Creating pseudo-class */
.hexagon:before, .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;
    background-color: dodgerblue;
    border-radius: inherit;
    height: 100%;
    width: 100%;
}
  
/* Align them in such a way
that they form a hexagon */
.hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}

.pg-3{
    height:100vh;
    width:100%;
    position: relative;
}

.heading{
    display: flex;
    justify-content: center;
}

.box-under-pg-3{
    width:95%;
    height:15em;
    margin:2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    display: flex;
}


.boxes{
    position: relative;
    width:6em;
    align-items: center;
    justify-content: center;
    margin:4em;
    
    height:6em;
    background: #ebebeb;
}

.boxes-1{
    position: relative;
    width:10em;
    align-items: center;
    justify-content: center;
    margin:4em;
    
    height:20em;
    background: #ebebeb;
}

.txtbox-3{
    overflow: hidden;
    display: flex;
    width:100%;
    height:6em;
    align-items: center;
    justify-content: center;
}

/* Let Us see  Forms->about me ->Conclusion */

/* .forms{
    position: relative;
    height:100vh;
    width:100%;

} */

